$primary-clr: rgb(0, 0, 185);
$light-clr: #fff;
$grey-clr: #ccc;
$primary-shadow: 0 0 20px 5px rgba($primary-clr, 0.4);
$danger-clr: rgb(255, 0, 0);

@mixin box-shadow($color) {
    box-shadow: 0 0 20px 5px $color;
}

.app {
    .button {
        padding: 16px 25px;
        background-color: $primary-clr;
        color: $light-clr;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        outline: 0;
        transition: background-color 150ms ease, box-shadow 150ms ease;

        &:hover {
            background-color: darken($primary-clr, 10%);
        }

        &:focus {
            background-color: darken($primary-clr, 10%);

            @include box-shadow(rgba($primary-clr, 0.4));
        }
    }
}

.input-wrapper {
    max-width: 400px;
    width: 100%;
    margin-right: 20px;
}

.input {
    display: block;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    outline: 0;
    border: 2px solid $grey-clr;
    border-radius: 3px;
    transition: border-color 150ms ease, box-shadow 150ms ease;

    &:focus:not(&--error) {
        border-color: $primary-clr;
        box-shadow: $primary-shadow;
    }

    &--error {
        border-color: $danger-clr;

        @include box-shadow(rgba($danger-clr, 0.4));
    }
}

.controls {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.error {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    color: $danger-clr;
    margin-top: 4px;
}
